/* donate css: */
body {
    margin: 0;
}

/* 
    i am not very good at website development so i copied your guys' code for the hero 
    thank you guys for being awesome coders im sorry i am not competent enough
    once you guys see this you can delete it lol i just wanted to lyk!
*/

.donate-hero {
    background-image: url(''); /* insert a link of your chosen image! */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* this changes the color of the "donate" text */
    font-size: 4rem;
}

h1, p {
    font-family: ''; /* if you want to change the font! */
}

p {
    margin: 20px 150px 20px 150px;
    text-align: center; 
}

#red-text {
    color: ''; /* changes the color of the "all donations are..." text */
    font-size: 1.2rem;
}

.large-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.2rem;
}