/* donate css: */
:root {
    --primary-color: #5e4d9e;
    --dark-color: #2c1b2d;
    --light-color: #C69AA4;
    --notsolight-color: #B58A94;
    --white-color: #ffffff;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0 0px;
}
body {
    margin: 0;
    font-family: var(--body-font);
}

main-body {
    padding-top: 9vh;
}

.donate-hero {
    background-image: url('https://img.freepik.com/free-vector/sunset-city-background_1092-42.jpg'); /* insert a link of your chosen image! */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* this changes the color of the "donate" text */
    font-size: 4rem;
}

h1 {
    font-family: var(--header-font);
}

p {
    margin: 20px 150px 20px 150px;
    text-align: center; 
}

#red-text {
    color: ''; /* changes the color of the "all donations are..." text */
    font-size: 1.2rem;
}

.large-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.2rem;
}